@import "src/assets/themes/variables";

.header {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    .header__image {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        max-width: 1000px;
    }
}